---
---

<section class="flex flex-col">
  <!-- Profile Image -->
  <div class="mb-6">
    <img 
      src="/profile.avif" 
      alt="Antareep's profile photo"
      fetchpriority="high"
      loading="eager"
      decoding="async"
      class="w-64 h-80 object-cover grayscale rounded-sm"
      transition:name="profile-image"
    />
  </div>
  
  <!-- Profile Description -->
  <div class="font-eb-garamond font-bold text-light-text dark:text-dark-text leading-relaxed max-w-xs">
    <p class="mb-4">
      <em>Antareep Dey </em> is a researcher, photographer, bibliophile & racing enthusiast. With a curious mind and caffeine-powered dedication, he's always open to collaborating on projects that are exciting and innovative.
    </p>
    
    <!-- Contact Links -->
    <div class="flex items-center gap-2 text-light-text/90 dark:text-dark-text/90 text-md">
      <a 
        href="mailto:antareep175@hotmail.com" 
        class="hover:text-light-text dark:hover:text-dark-text "
        aria-label="Send email"
      >
        Email
      </a>
      <span> • </span>
      <a 
        href="https://antareepdey.github.io/" 
        target="_blank" 
        rel="noopener noreferrer"
        class="hover:text-light-text dark:hover:text-dark-text "
        aria-label="View portfolio"
      >
        Portfolio
      </a>
    </div>
  </div>
</section>